/*
    RESET CSS Global
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #f1f1f1;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */
.template{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}
section{
    margin: 100px;
    width: 500px;
}
.container{
    position: relative;
    float: left;
    width: 100%;
}
.wrapper{
    margin: 0 auto; 
}

/* Header */

.header{
    background-color: #357ea7;
    height: 66px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 25px;
}
.header h1{
    position: relative;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 5px;
    line-height: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}
.header h1 span{
    margin-left: 5px;
    color: #232f34;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}
.material-symbols-outlined {
    position: relative;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 35px !important;
    line-height: 50px !important;
    color: #ffffff !important
}

*:focus {
    outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2b6789;
    font-style: italic;
    font-weight: 700;
  }


/* Sidebar */

/* Content */
.formBlock{
    position: relative;
    float: left;
    padding: 15px;
    width: 470px;
    height: auto;
    min-height: 300px;
    border-radius: 0px 0px 8px 8px;
    background-color: #ffffff; 
    
}

.newItem{
    position: relative;
    float: left;
    margin-left: 70px;
    margin-top: -30px;
    width: 350px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 8px;
    background-color: #357ea7;
    
}
.newItem .material-symbols-outlined{
    line-height: 24px !important;
    font-size: 20px !important;
    padding: 0 !important;
}

.inputTitle{
    color: #232f34;
    border: 0px;
    text-align: center;
     line-height: 34px;
    background-color: #f1f1f1;
}

.btn{
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 80px;
    line-height: 34px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: #2b6789;
}
.completed {

    text-decoration: line-through;
    font-style: italic;
}
.done{
    position: relative;
    float: left;
    color:#01cc90 !important;
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 20px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    border: none;
    background-color: transparent;
}
.delete{
    position: relative;
    float: left;
    color: #e34434 !important;
    margin-left: 4px;
    margin-right: 4px;
    padding: 5px;
    line-height: 20px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    border: none;
    background-color: transparent;
}
.item{
    position: relative;
    float: left;
    width: 390px;
}
.itemList{
    position: relative;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 466px !important;
    border-bottom: 1px dotted #eeeeee;
}